$text-color: #fff;
$base-color: #222;
$highlight-color: #222;
$notification-color: #40d050;
$button-color: #e91e63;
$link: #2196f3;

$menu-text: #8ca1af;
$menu-icon: #8ca1af;
$menu-background: #181f24;

$menu-highlight-text: #fff;
$menu-highlight-icon: #fff;
$menu-highlight-background: #e91e63;

$menu-submenu-text: #8ca1af;
$menu-submenu-focus-text: #fff;
$menu-submenu-current-text: $menu-submenu-focus-text;
$menu-submenu-background: #2c3942;

$menu-bubble-text: #fff;
