$text-color: #545a5f;
$base-color: #fff;
$icon-color: #939aa0;

$menu-submenu-focus-text: #545a5f;
$menu-submenu-background: $base-color;
$menu-highlight-icon: $icon-color;

$adminbar-avatar-frame: rgba(120,120,120,0.1);
