/* compiled by scssphp v0.0.10 on Sat, 03 Sep 2016 17:23:13 +0200 (0.0819s) */

/*
 * Button mixin- creates 3d-ish button effect with correct
 * highlights/shadows, based on a base color.
 */
html {
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; }

body.login {
  margin: 0;
  height: auto;
  background-color: #fff; }

body.login div#login h1 {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain; }

body.login div#login h1 a {
  margin-top: 25px; }

.wp-core-ui .button-primary {
  background: #40d050;
  border-color: #40d050;
  border-radius: 50px;
  color: white;
  box-shadow: none;
  text-shadow: none;
  transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), -webkit-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  float: none; }
  .wp-core-ui .button-primary:hover, .wp-core-ui .button-primary:focus {
    background: #4cd35b;
    border-color: #4cd35b;
    color: white;
    box-shadow: none; }
  .wp-core-ui .button-primary:active {
    background: #2cb13b;
    border-color: #279d34;
    box-shadow: inset 0 2px 0 #279d34; }
  .wp-core-ui .button-primary[disabled], .wp-core-ui .button-primary:disabled, .wp-core-ui .button-primary.button-primary-disabled, .wp-core-ui .button-primary.disabled {
    color: #c7d1c8 !important;
    background: #61d86e !important;
    border-color: #61d86e !important;
    text-shadow: none !important; }
  .wp-core-ui .button-primary.button-hero {
    box-shadow: none !important; }
    .wp-core-ui .button-primary.button-hero:active {
      box-shadow: none; }
  .wp-core-ui .button-primary.button-primary {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.26) !important; }
    .wp-core-ui .button-primary.button-primary:hover, .wp-core-ui .button-primary.button-primary:focus, .wp-core-ui .button-primary.button-primary:active {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4) !important;
      -webkit-transform: translate3d(0, 0px, 0);
      transform: translate3d(0, 0px, 0); }

.login form {
  background-color: transparent;
  box-shadow: none;
  margin-top: 0;
  padding: 20px 0; }
  .login form .button {
    width: 100%;
    padding: 6px 10px !important;
    height: auto !important;
    line-height: 28px !important;
    font-size: 16px; }
  .login form p {
    background-color: #fff;
    border-radius: 0 0 3px 3px;
    position: relative;
    min-height: 44px; }
  .login form p label {
    padding: 12px 10px 8px 0px;
    display: block;
    color: #ccc; }
  .login form .input {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    border-radius: 0;
    padding: 7px 0;
    height: 44px;
    background: transparent;
    border-width: 0;
    border-bottom-width: 1px;
    box-shadow: none; }
  .login form .input:focus, .login form .input:active, .login form .input.active, .login form .input.has-value {
    background: #fff !important;
    z-index: 1;
    border-color: #40d050; }
  .login form .forgetmenot, .login form .submit {
    min-height: auto;
    float: none;
    padding-bottom: 10px;
    background: transparent; }
  .login form .forgetmenot label, .login form .submit label {
    color: #888; }

#login {
  background-color: #202020;
  background-size: cover;
  background-position: center center;
  box-shadow: none;
  width: auto;
  padding: 4% 0; }

#login_error, .message {
  color: #444;
  border-radius: 0;
  margin-left: -4px;
  box-shadow: none;
  padding: 12px 24px; }

#nav {
  text-align: center;
  color: transparent; }
  #nav a {
    padding: 6px 10px;
    border-radius: 3px; }
  #nav a + a {
    margin-left: -6px; }

.login-subtitle {
  margin: 40px 10px 10px 10px;
  text-align: center;
  font-size: 1.1em;
  line-height: 1.5; }

.login-form-title {
  margin-bottom: 20px; }

.login-footer {
  margin: 30px 10px 10px 10px;
  text-align: center;
  font-size: 12px;
  opacity: 0.6; }

#login-form {
  color: #222;
  padding: 8% 4%; }
  #login-form p.submit {
    margin: 0; }

#backtoblog {
  display: none; }

#lostpasswordform p.submit {
  margin-top: 20px; }

@media screen and (min-width: 783px) {
  body.login {
    max-width: 760px;
    margin: 70px auto;
    height: auto;
    border-radius: 5px; }

  #login, #login-form {
    width: 320px;
    display: table-cell;
    border-radius: 0 5px 5px 0;
    padding: 40px 30px !important;
    vertical-align: middle; }

  #login {
    border-radius: 5px 0 0 5px; } }

#loginform {
  position: relative !important; }

.wp-social-login-widget ~ p.submit {
  padding-bottom: 65px; }

.wp-social-login-widget {
  border-top: 1px solid #f0f0f0;
  position: absolute;
  z-index: 1;
  bottom: 0;
  text-align: center;
  padding-top: 5px;
  width: 100%; }

.wp-social-login-connect-with {
  color: #999;
  display: inline-block;
  background-color: #fff;
  position: relative;
  top: -14px;
  padding: 0 5px; }

.wp-social-login-provider-list {
  padding: 0; }

.wp-social-login-provider {
  border-radius: 20px;
  padding: 6px 15px;
  display: inline-block;
  color: #fff !important;
  background-color: #999; }
  .wp-social-login-provider:before {
    font-family: "icons";
    content: '';
    font-size: 18px;
    vertical-align: -4px;
    margin-right: 4px; }

.wp-social-login-provider-google {
  background-color: #db4437; }
  .wp-social-login-provider-google:before {
    content: "\e60d"; }

.wp-social-login-provider-twitter {
  background-color: #55acee; }
  .wp-social-login-provider-twitter:before {
    content: "\e009"; }

.wp-social-login-provider-facebook {
  background-color: #3b5998; }
  .wp-social-login-provider-facebook:before {
    content: "\e00b"; }
